@use "../mixins";

@mixin declare($primary, $accent, $warn, $is-dark) {

    @if ($is-dark) {
        * {
            scrollbar-width: thin;
            scrollbar-color: rgba(88, 166, 255, 0.25) transparent;
        }

        *::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background: transparent;
        }

        *::-webkit-scrollbar-track {
            background: transparent;
        }

        *::-webkit-scrollbar-thumb {
            background: rgba(88, 166, 255, 0.25);
            border-radius: 3px;

            &:hover, &:active {
                background: rgba(88, 166, 255, 0.5);
            }
        }

        *::-webkit-scrollbar-corner {
            background: transparent;
        }
    }
}
